@import url('http://fonts.googleapis.com/css?family=Oswald');

// Parameters /////////////////

img-path = '../img'
radius = 8px
frame-padding = 22px
outer-frame-max-width = 980px
// base-color = #C4302B
base-color = #2B61C5
category-color = #888888
// body-color = #eeeeee
body-color = #E1E4EA
line-color = #dfdfdf
link-color = #666666
link-hover-color = #C4302B
menu-link-color = #666666
footer-color = #242424
content-pd = frame-padding
sidebar-pd = 0px
sidebar-ln = 1px
sidebar-mg = -(sidebar-pd + sidebar-ln)

// Functions /////////////////

line()
	1px solid line-color

img(file)
	url(img-path + '/' + file)

ba(c, a)
	rgba(c,c,c,a)

box-shadow(args...)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

text-shadow(args...)
	-webkit-text-shadow args
	-moz-text-shadow args
	text-shadow args

border-radius(args...)
	border-radius args
	-moz-border-radius args
	-webkit-border-radius args
	-o-border-radius args
	-ms-border-radius args

transform(args...)
	transform args
	-webkit-transform args
	-moz-transform args
	-ms-transform args
	-o-transform args

appearance(args...)
	appearance args
	-webkit-appearance args
	-moz-appearance args
	-ms-appearance args
	-o-appearance args

google-font()
	font-family 'Oswald' sans-serif

///////////////////////////////
///////////////////////////////

body
	background-image img('grey_wash_wall.jpg')
	background-repeat repeat
	background-position top left
	background-attachment fixed

a
	cursor pointer
	color link-color
	text-decoration underline
	border none

ul.menu-list
	margin 0
	padding 0
	clear both
	float none

li.menu-item
	padding 13px 0px
	float left
	list-style-type none

li.menu-item a
	padding 0px 15px
	border-left line()
	color menu-link-color
	text-decoration none

li.menu-item.first a
	border-left none

a:hover
	color link-hover-color

.effect8 {
    box-shadow(0 1px 4px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset)
    position: relative;
}
.effect8:before, .effect8:after {
    border-radius(100px 100px 100px 100px / 10px 10px 10px 10px)
    box-shadow(0 0 20px rgba(0, 0, 0, 0.8))
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;
    z-index: -1;
}
.effect8:after {
    left: auto;
    right: 10px;
    transform(skew(8deg) rotate(3deg))
}

#media_query_desktop, #media_query_tablet, #media_query_mobile
	position absolute
	height 0
	width 0


#outer_frame
	border-radius(radius)
	background #ffffff
	// box-shadow(5px 5px 5px 5px ba(50, 0.4))
	max-width outer-frame-max-width - (frame-padding * 2)
	margin 20px auto

#header
	border-radius(radius radius 0 0)

#logo
	border-radius(radius radius 0 0)
	background img('header-back2.jpg') no-repeat
	// background-size 100% 100%
	height 140px
	width 100%
	display table

#logo_text
	margin auto auto
	display table-cell 
	google-font()
	font-size 20pt
	vertical-align middle
	text-align center

#logo_text_inner
	color white
	letter-spacing 5px
	text-shadow(1px 1px 3px #000)

#menu
	margin-left frame-padding
	margin-right frame-padding
	margin-top 5px
	font-family Helvetica, Arial, sans-serif
	font-size 10pt
	height 42px
	border-top line()

#center_wrapper
	clear both
	padding frame-padding
	padding-top 0

#content
	float left
	border-top line()
	margin-left -content-pd
	// background #eeeeee

#content_inner
	margin-top frame-padding
	margin-bottom frame-padding
	margin-right frame-padding

#post_date
	google-font()
	color #999999
	font-size 10pt
	letter-spacing 5px

#post_title
	border-bottom 1px solid #bbbbbb
	margin-bottom 13px
	margin-bottom 10px

#post_photo
	text-align center

#post_photo img
	height 250px

#index-post
	margin-bottom 30px

#categories
	font-size 10pt
	color category-color
	margin-bottom 15px

span#categories-label
	margin-right 10px	

.category a
	margin-right 6px
	border 1px solid lighten(category-color, 40%)
	color category-color
	padding 3px 5px
	text-decoration none

.category a:hover
	background lighten(category-color, 40%)
	color #ffffff

#post
	margin-top 20px
	font-size 12pt

#sidebar
	float left
	border-left line()
	border-top line()
	margin-right sidebar-mg
	padding-bottom 10px

#sidebar_inner
	margin-top: frame-padding
	margin-left: frame-padding
	margin-right: frame-padding

#search_bar
	position relative
	height 50px

#search_bar_inner:after
	border 5px solid transparent
	border-right-color base-color
	content " "
	display block
	width 0
	height 0
	position absolute
	right 31px
	top 20px
	z-index 2

#search_bar_inner
	float right
	margin-top 10px

input.search-bar-text
	pd = 5px
	ln = 0.5px
	pl = pd + ln

	border-radius(0)
	font-size 9pt
	padding pd
	width 150px - (pl*2)
	height 31px - (pl*2)
	border line()

input.search-bar-submit
	border-radius(0)
	appearance(none)
	padding 0
	width 31px
	height 31px
	text-indent -999999px
	background: img('search.png') no-repeat center;
	border none
	background-color base-color

.widget-title
	vertical-align baseline
	google-font()
	font-size 12pt
	background img('widget-divider.png') repeat top center

.widget-title-text
	padding-right 7px
	background white

.widget-content
	color link-color
	font-size 10pt

ul.widget-post-list
	margin 0
	padding 0

li.widget-post-item
	list-style-type none
	margin 5px

span.label
	font-weight bold

.github img
	vertical-align middle

.amazon
	border 1px solid #aaaaaa
	padding 10px
	margin-bottom 20px

#adsense_wrapper
	margin-top 10px

#post-description
	letter-spacing 0

.float-left
	float left

.float-right
	float right

.clear
	clear both

#footer
	border-radius(0 0 radius radius)
	clear both
	color link-color
	font-size 10pt
	color #aaaaaa
	padding frame-padding
	background footer-color

.footer-widget-title
	vertical-align baseline
	google-font()
	font-size 12pt
	background img('widget-divider.png') repeat top center

.footer-widget-title-text
	padding-right 7px
	background footer-color

.footer-widget-content
	color link-color
	font-size 10pt

h4.footer-powered-title
	background img('widget-divider.png') repeat top center
	margin 0
	margin-bottom 15px
	padding 0
	letter-spacing 2px
	google-font()
	font-size 9pt
	text-align center
	vertical-align baseline

span.footer-back
	vertical-align baseline
	background footer-color

img.pow-logo
	margin-right 10px
	vertical-align middle

.center
	text-align center

#mobile-footer-content
	// background #ddffaa

@import 'mobile.styl';