body{font-family:'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,'メイリオ',sans-serif;background-image:url("../img/grey_wash_wall.jpg");background-repeat:repeat;background-position:top left;background-attachment:fixed}
a{cursor:pointer;color:#666;text-decoration:underline;border:none}
hr{display:block;height:1px;border:0;border-top:1px solid #c6c6c6;margin:2px 0;padding:0}
.vm{vertical-align:middle}
.h10{height:10px}
.h30{height:30px}
.h50{height:50px}
.h100{height:100px}
#post ul,.post ul{background:#fff9eb;padding-top:20px;padding-bottom:20px}
#post ul li,.post ul li{margin-bottom:10px}
ul.menu-list{margin:0;padding:0;clear:both;float:none}
li.menu-item{padding:13px 0;float:left;list-style-type:none}
li.menu-item a{padding:0 15px;border-left:1px solid #dfdfdf;color:#666;text-decoration:none}
li.menu-item.first a{border-left:none}
a:hover{color:#c4302b}
.effect8{-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.9) 0 0 40px rgba(0,0,0,0.1) inset;-moz-box-shadow:0 1px 4px rgba(0,0,0,0.9) 0 0 40px rgba(0,0,0,0.1) inset;box-shadow:0 1px 4px rgba(0,0,0,0.9) 0 0 40px rgba(0,0,0,0.1) inset;position:relative}
.effect8:before,.effect8:after{border-radius:100px 100px 100px 10px 10px 10px 10px;-moz-border-radius:100px 100px 100px 10px 10px 10px 10px;-webkit-border-radius:100px 100px 100px 10px 10px 10px 10px;-o-border-radius:100px 100px 100px 10px 10px 10px 10px;-ms-border-radius:100px 100px 100px 10px 10px 10px 10px;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);content:"";position:absolute;left:0;right:0;top:10px;bottom:10px;z-index:-1}
.effect8:after{left:auto;right:10px;transform:skew(8deg) rotate(3deg);-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg)}
#media_query_desktop,#media_query_tablet,#media_query_mobile{position:absolute;height:0;width:0}
#background_before{margin:0 auto;background-image:url("../img/wild_oliva.jpg");background-repeat:repeat;-webkit-box-shadow:0 5px 10px #000;-moz-box-shadow:0 5px 10px #000;box-shadow:0 5px 10px #000;max-width:770px;margin-top:-25px;padding-bottom:1px;padding-top:20px}
#outer_frame{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;background:#fff;-webkit-box-shadow:0 0 20px rgba(100,100,100,0.8);-moz-box-shadow:0 0 20px rgba(100,100,100,0.8);box-shadow:0 0 20px rgba(100,100,100,0.8);max-width:706px;margin:20px auto;margin-top:0}
#header{border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0}
#logo{border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;background:url("../img/header-back2.jpg") no-repeat;height:140px;width:100%;display:table}
#logo_text{margin:auto auto;color:#fff;letter-spacing:5px;display:table-cell;font-family:'Oswald' sans-serif;font-size:20pt;vertical-align:middle;text-align:center}
a#logo_text_inner{text-decoration:none;color:#fff;letter-spacing:5px;-webkit-text-shadow:1px 1px 3px #000;-moz-text-shadow:1px 1px 3px #000;text-shadow:1px 1px 3px #000}
a#logo_text_inner:hover{border-bottom:2px dashed #fff;color:#fff}
#menu{margin-left:22px;margin-right:22px;margin-top:5px;font-family:Helvetica,Arial,sans-serif;font-size:10pt;height:42px;border-top:1px solid #dfdfdf}
#center_wrapper{clear:both;padding:22px;padding-top:0}
#content{letter-spacing:0;float:left;margin-left:-content-pd;width:100% !important}
#content_inner{margin-top:0;margin-right:0;margin-bottom:22px}
#post h2{color:#1e448a;border-left:7px solid #1e448a;padding-left:9px;margin-top:30px}
#post h3{color:#1e448a;padding:5px;border-bottom:1px dashed #153061}
#post h4{color:#1e448a}
#post h5{color:#1e448a}
#post h6{color:#1e448a}
#post_date,.post_date{font-family:'Oswald' sans-serif;color:#999;font-size:10pt;letter-spacing:5px}
#post_title,.post_title{color:#18366e;border-bottom:1px solid #bbb;margin-bottom:13px;margin-bottom:10px}
#post_photo,.post_photo{text-align:center;margin-bottom:20px}
#post_photo img,.post_photo img{max-width:100%;height:auto;width:auto}
#post img,.post img{max-width:100%}
.profile_button{display:block}
#index-post,.index-post{margin-bottom:30px}
#categories,.categories{font-size:10pt;color:#888;margin-bottom:30px}
span#categories-label,span.categories-label{margin-right:10px}
.category a{margin-right:6px;border:1px solid #b8b8b8;color:#888;padding:3px 5px;text-decoration:none}
.category a:hover{background:#b8b8b8;color:#fff}
.post-link{margin:40px auto;width:80%;background-image:url("../img/straws.gif");background-repeat:repeat;background-color:#265a9e;font-size:14pt;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;-webkit-box-shadow:2px 2px 2px 2px rgba(50,50,50,0.4);-moz-box-shadow:2px 2px 2px 2px rgba(50,50,50,0.4);box-shadow:2px 2px 2px 2px rgba(50,50,50,0.4);padding:20px;cursor:pointer}
.post-link.hover{background-image:url("../img/straws-hover.gif")}
.post-link a{color:#fff;text-decoration:none}
.post-link a:hover{color:#fff}
#post{margin-top:20px;font-size:12pt;word-wrap:break-word}
#disqus_thread{margin-top:30px}
#result{margin-bottom:20px}
.category-post{margin-bottom:5px}
.photo-label{background:#f8f8f8;text-align:center;margin-bottom:30px;padding-top:10px;padding-bottom:10px;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;color:#777}
#sidebar{width:100% !important;border-left:none;border-bottom:1px solid #dfdfdf;float:left;background:#fff;border-top:1px solid #dfdfdf;letter-spacing:0;margin-right:-1px;padding-bottom:10px}
#sidebar_inner{margin-top:22px;margin-left:22px;margin-right:22px}
#mobile_menu{letter-spacing:0;width:100%;border-top:1px solid #dfdfdf;font-size:10pt}
#mobile_menu_inner{margin-left:10px;margin-right:10px;margin-top:10px;margin-bottom:0}
.menu-icon{font-size:16pt;margin-right:5px}
.profile_button{font-size:24px;color:#666;background:#fff}
.profile_button i{font-size:24px;width:15px}
.rss_button{font-size:14px;width:25px;padding:8px;float:right;color:#666;background:#fff;vertical-align:middle}
#mobile_menu_button{font-size:14px;width:30px;float:right;color:#fff;margin-left:10px;background-color:#4e7ed8;vertical-align:middle}
a.pure-button{color:#666}
a.pure-button:hover{color:#666}
#mobile_menu_content{background:#fafafa;letter-spacing:0;width:100%;border:1px solid #dfdfdf;margin-top:10px;margin-right:-1px;padding-bottom:10px;margin-bottom:10px}
#mobile_menu_content .widget-title-text{background:#fafafa}
#mobile_menu_content_inner{margin:22px}
#search_bar{position:relative;height:50px}
#search_bar_inner:after{border:5px solid transparent;border-right-color:#2b61c5;content:" ";display:block;width:0;height:0;position:absolute;right:31px;top:20px;z-index:2}
#search_bar_inner{float:right;margin-top:10px}
input.search-bar-text{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;-ms-border-radius:0;font-size:9pt;padding:5px;width:139px;height:20px;border:1px solid #dfdfdf}
input.search-bar-submit{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;-ms-border-radius:0;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;padding:0;width:31px;height:31px;text-indent:-999999px;background:url("../img/search.png") no-repeat center;border:none;background-color:#2b61c5}
.widget-title{vertical-align:baseline;font-family:'Oswald' sans-serif;font-size:12pt;background:url("../img/widget-divider.png") repeat top center}
.widget-title-text{padding-right:7px;background:#fff}
.widget-content{color:#666;font-size:10pt}
ul.widget-post-list{margin:0;padding:0}
li.widget-post-item{list-style-type:none;margin:5px}
span.label{font-weight:bold}
.inline-block{display:inline-block}
.inline{display:inline}
.block{display:block}
.border-none{border:none !important}
.github img{vertical-align:middle;margin-right:2px}
.rss img{vertical-align:middle;margin-right:5px}
#standard{background:#dffade;border:3px solid #167b13;padding:10px}
#star1{background:#f9fade;border:3px solid #777b13;padding:10px}
#star2{background:#fae8de;border:3px solid #7b3813;padding:10px}
#star3{background:#fadee9;border:3px solid #7b133c;padding:10px}
.amazon{border:1px solid #aaa;padding:10px;margin-top:30px;margin-bottom:20px}
#social_buttons{margin-bottom:10px}
span.social_button{margin-right:5px}
pre code{font-size:11pt;font-family:'Source Code Pro',sans-serif;background:#faf0e0 !important}
blockquote{width:90%;background:#eaeafa;padding:10px 15px;margin:0 auto;margin-start:auto;-webkit-margin-start:auto;-moz-margin-start:auto;-ms-margin-start:auto;-o-margin-start:auto;margin-end:auto;-webkit-margin-end:auto;-moz-margin-end:auto;-ms-margin-end:auto;-o-margin-start:auto;margin-before:0;-webkit-margin-before:0;-moz-margin-before:0;-ms-margin-before:0;-o-margin-before:0;margin-after:0;-webkit-margin-after:0;-moz-margin-after:0;-ms-margin-after:0;-o-margin-after:0}
#adsense_wrapper{margin-top:20px}
#post-description{letter-spacing:0}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
#footer{border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;clear:both;color:#666;font-size:10pt;color:#aaa;padding:22px;background:#242424}
.footer-widget-title{vertical-align:baseline;font-family:'Oswald' sans-serif;font-size:12pt;background:url("../img/widget-divider.png") repeat top center}
.footer-widget-title-text{padding-right:7px;background:#242424}
.footer-widget-content{color:#666;font-size:10pt}
h4.footer-powered-title{background:url("../img/widget-divider.png") repeat top center;margin:0;margin-bottom:15px;padding:0;letter-spacing:2px;font-family:'Oswald' sans-serif;font-size:9pt;text-align:center;vertical-align:baseline}
span.footer-back{vertical-align:baseline;background:#242424}
img.pow-logo{margin-right:10px;vertical-align:middle}
.center{text-align:center}
.black{background:#333 !important}
._black{color:#333 !important}
.gray{background:#999 !important}
._gray{color:#999 !important}
.lightgray{background:#bbb !important}
._lightgray{color:#bbb !important}
.white{background:#fff !important}
._white{color:#fff !important}
.red{background:#ff7575 !important}
._red{color:#ff7575 !important}
.orange{background:#ffa975 !important}
._orange{color:#ffa975 !important}
.yellow{background:#ffdd75 !important}
._yellow{color:#ffdd75 !important}
.yellowgreen{background:#c8ff75 !important}
._yellowgreen{color:#c8ff75 !important}
.green{background:#75ff75 !important}
._green{color:#75ff75 !important}
.water{background:#75ffff !important}
._water{color:#75ffff !important}
.blue{background:#75a9ff !important}
._blue{color:#75a9ff !important}
.purple{background:#ff75ff !important}
._purple{color:#ff75ff !important}
.pink{background:#ff75c8 !important}
._pink{color:#ff75c8 !important}
