m = 768px
t = 979px

// if < TABLET ------------------------------------------
unquote("@media screen and (max-width: "+t+") {")

#outer_frame
	border-radius(0)
	margin 0

.effect8
	box-shadow(0)

.effect8:before
	display none

.effect8:after
	display none

#header
	border-radius(0)

#logo 
	border-radius(0)

#footer
	border-radius(0)

unquote("}")


// if < MOBILE ------------------------------------------
unquote("@media screen and (max-width: " + m + ") {")

.mobile
	width 100%

#sidebar
	border-left none
	border-bottom line()

unquote("}")
