- var path = (current.path[0] == 'posts')? '../' : './'

mixin f-widget-title(title)
	h3.footer-widget-title
		span.footer-widget-title-text= title

mixin pow-logo(name, url)
	a(href='http://'+url+'/', target='_blank', alt=url): img.pow-logo(src=path+'img/'+name)

mixin footer-content()
	h4.footer-powered-title: span.footer-back &nbsp THIS BLOG IS POWERED BY &nbsp
	.center(style='margin-bottom: 20px;')
		+pow-logo('github-logo.png', 'github.com')
		+pow-logo('bitbucket-logo.png', 'bitbucket.org')
		+pow-logo('harp-logo.png', 'harpjs.com')
		+pow-logo('pure-logo.png', 'purecss.io')
		+pow-logo('jade-logo.png', 'jade-lang.com')
	h4.footer-powered-title: span.footer-back &nbsp CREATED BY &nbsp
	.center
		+pow-logo('user-logo.png', 'github.com/atmarksharp')
//- ---------------------------------------------------

#footer
	#desktop-footer-content
		+footer-content()
	//- #mobile-footer-content.pure-hidden-desktop.pure-hidden-tablet
	//- 	+footer-content()
			