#header.pure-u-5-5
	#logo
		h1#logo_text
			span#logo_text_inner SLOW LIVING IN THE SKY
	#menu
		ul.menu-list
			for url, label in public._data
				if label == "HOME"
					li.menu-item.first
						a(href=url)= label
				else
					li.menu-item
						a(href=url)= label