- var path = (current.path[0] == 'posts')? '../' : './'
- var amazon_id = 'mvnhatenadiar-22'

mixin css(url)
	link(rel='stylesheet', href=path+url, type='text/css')

mixin css-url(url)
	link(rel='stylesheet', href=url, type='text/css')

mixin js(url)
	script(src=path+url, type='text/javascript')

mixin js-url(url)
	script(src=url, type='text/javascript')

mixin partial(url)
	!= partial(path+url)

mixin amazon(id)
	iframe(src="http://rcm-fe.amazon-adsystem.com/e/cm?t=mvnhatenadiar-22&o=9&p=8&l=as1&asins="+id+"&ref=qf_sp_asin_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr", style="width:120px;height:240px;", scrolling="no", marginwidth="0", marginheight="0", frameborder="0")

//- mixin amazon(id, title, author)
//- 	.amazon-affiliate
//- 		+amazon-image(id)
//- 		+amazon-title(id, title)
//- 		.amazon-author= author

//- mixin amazon-image(id)
//- 	a(href="http://www.amazon.co.jp/gp/product/"+id+"/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN="+id+"&linkCode=as2&tag=mvnhatenadiar-22")
//- 		img(border="0", src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN="+id+"&Format=_SL110_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=mvnhatenadiar-22")
//- 	img(src="http://ir-jp.amazon-adsystem.com/e/ir?t=mvnhatenadiar-22&l=as2&o=9&a="+id+"", width="1", height="1", border="0", alt="", style="border:none !important; margin:0px !important;")

//- mixin amazon-title(id, title)
//- 	a(href="http://www.amazon.co.jp/gp/product/"+id+"/ref=as_li_tf_tl?ie=UTF8&camp=247&creative=1211&creativeASIN="+id+"&linkCode=as2&tag=mvnhatenadiar-22")= title
//- 	img(src="http://ir-jp.amazon-adsystem.com/e/ir?t=mvnhatenadiar-22&l=as2&o=9&a="+id+"", width="1", height="1", border="0", alt="", style="border:none !important; margin:0px !important;")
