- var is_post = (current.path[0] == 'posts');
- var path = (is_post)? '../' : './';
- var post_path = (is_post)? './' : './posts/';
- var _data = public.posts._data;
- var sortable = (function(d){var a=[];for(e in d){a.push([e,parseInt(_data[e].order)])};return a;})(_data);
- var recent = sortable.sort(function(a,b){return a[0]-b[0]}).slice(0,5);

mixin widget-title(title)
	h3.widget-title
		span.widget-title-text= title
mixin github-id(name)
	.github
		img(src=path+'img/github.png', alt='github.png')
		a(href='https://github.com/'+name, target='_blank')= name

//- ---------------------------------------------------

#sidebar.pure-u-1-3
	#sidebar_inner
		!= partial('search_bar.jade')

		//- sidebar widgets --------------------

		+widget-title('RECENT POSTS')
		.widget-content
			ul.widget-post-list
				for e in recent
					li.widget-post-item
						a(href=post_path+e[0])= _data[e[0]].title

		+widget-title('PROFILE')
		.widget-content
			ul.widget-post-list
				li.widget-post-item: +github-id('atmarksharp')

		+widget-title('ABOUT')
		.widget-content.
			FIXME