include ../_share/mixins.jade

:markdown
	昨日、JavaScriptやPHPに対応したLisp方言を調べました。

	- [Sibilant](http://sibilantjs.info/)
	- [LispyScript](http://lispyscript.com/)
	- [Pharen](http://scriptor.github.io/pharen/) 

	個人的にはActionScript3に対応するものがないかなと思ったんですが、イマイチぱっとせず…。

	昔、ミニLispインタプリターをJavaで作る練習をしたことがあるので、Sibilantを参考にして作ってみようかなと思います。


.amazon.
	<div class="amazlet-box" style="margin-bottom:0px;"><div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4798119415/mvnhatenadiar-22/ref=nosim/" name="amazletlink" target="_blank"><img src="http://ecx.images-amazon.com/images/I/514rdLjpERL._SL160_.jpg" alt="初めての人のためのLISP[増補改訂版]" style="border: none;" /></a></div><div class="amazlet-info" style="line-height:120%; margin-bottom: 10px"><div class="amazlet-name" style="margin-bottom:10px;line-height:120%"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4798119415/mvnhatenadiar-22/ref=nosim/" name="amazletlink" target="_blank">初めての人のためのLISP[増補改訂版]</a><div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 14.01.15</div></div><div class="amazlet-detail">竹内 郁雄 <br />翔泳社 (2010-03-10)<br />売り上げランキング: 290,577<br /></div><div class="amazlet-sub-info" style="float: left;"><div class="amazlet-link" style="margin-top: 5px"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4798119415/mvnhatenadiar-22/ref=nosim/" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a></div></div></div><div class="amazlet-footer" style="clear: left"></div></div>
